.signIn{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex-direction:column;
  gap:80px
}
.credit{
  width:90px;
  text-align:center;
  line-height:25px;
  font-family:monospace;
}
.signIn img{
  height:150px;
  width:auto;
}